<div class="addons-container">
    <div class="addons-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="tag">
            <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
            <mat-cell *matCellDef="let addon"> {{addon.id}} </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="kind">
            <mat-header-cell *matHeaderCellDef> Kind </mat-header-cell>
            <mat-cell *matCellDef="let addon"> {{addon.kind}} </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let addon"> {{addon.description}} </mat-cell>
        </ng-container>

        <!-- Select Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let addon">
                <button mat-button color="primary" class="select-button" (click)="selectAddOn(addon)">Select</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>