translation-editor {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    .title {
        font-size: 1.8rem;
        margin-left: 16px;
        font-weight: 400;
    }
    .save-button {
        float: right;
    }
}
