<mat-sidenav-container class="app-container">

  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <account [user]="user" (loggedIn)="switchAccountSideBar()"></account>
  </mat-sidenav>

  <mat-sidenav-content>

    <div *ngIf="opened" class="login-layer"></div>

    <ion-header>

      <ion-navbar color="headerBG" class="ontology-navbar">

        <ion-buttons left>
          <div class="login-button-container">
            <button ion-button (click)=switchAccountSideBar()>
              <ion-icon name="person"></ion-icon>
              <p *ngIf="!user">Login</p>
            </button>
          </div>
        </ion-buttons>

        <ion-title class="site-title">
          <img src="assets/imgs/logo_white.png" class="header-logo">
          <a href="https://bso-project.org" ion-button color="light" clear class="link">
            Building Semantic Ontology Project
          </a>
        </ion-title>

        <ion-buttons end>
          <a href="https://github.com/BtibTeam/bso-project" target="_blank" ion-button color="light" full clear class="link">
            Github
            <ion-icon name="logo-github"></ion-icon>
          </a>
          <ion-label color="light" class="update-text">v{{config.version}}</ion-label>
        </ion-buttons>

      </ion-navbar>

    </ion-header>

    <ion-content padding>
      <ion-nav [root]="rootPage"></ion-nav>
    </ion-content>

  </mat-sidenav-content>

</mat-sidenav-container>
